body {
  text-align: center;
  background-color: #333;
}

main {
  /* max-width: 320px;
  margin: auto;
  padding: 20px 0; */
}

input {
  margin: 0 3px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bold;
}

input[type="checkbox"] {
  zoom: 3;
  vertical-align: middle;
  filter: brightness(150%);
}


