@import url(https://fonts.googleapis.com/css?family=Bangers);

body {
  text-align: center;
  background-color: #181818;
}

main {
  max-width: 800px;
  min-height: 100vh;
  margin: auto;
  padding: 3vh 15px;
}

@media (max-width: 400px) {
  main {
    padding: 3vh 5px;
  }
}

input[type="checkbox"] {
  zoom: 3;
  vertical-align: middle;
  filter: brightness(150%);
}




