body {
  text-align: center;
  background-color: #333;
}

main {
  padding: 20px 0;
}

input {
  margin: 0 5px;
  padding: 10px 15px;
  background-color: #e0e0e0;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bold;
}

input[type="checkbox"] {
  zoom: 3;
  vertical-align: middle;
}

button {
  margin: 5px;
  padding: 10px 15px;
  background: rgb(17, 90, 248);
  border: 1px solid rgb(17, 90, 248);
  border-radius: 3px;
  color: #ececec;
  font-size: 18px;
  cursor: pointer;
}

